    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/demos/demo-13.js"></script>
    
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="asset/img/logo.png" alt="">
        <span class="d-none d-lg-block">Mobi-Kart</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown pe-3">

          <a class="dropdown-item d-flex align-items-center text-primary" href="/admin/logout">
                <i class="bi bi-box-arrow-right"></i> &nbsp;&nbsp;
                <span >Sign Out</span>
          </a>

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->


  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/admin">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/admin/usermanagement">
          <i class="bi bi-grid"></i>
          <span>User Management</span>
        </a>
      </li><!-- End Dashboard Nav --><ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/admin/productmanagement">
          <i class="bi bi-grid"></i>
          <span>Product Management</span>
        </a>
      </li><!-- End Dashboard Nav --><ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/admin/categorymanagement">
          <i class="bi bi-grid"></i>
          <span>Category Management</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link " href="/admin/ordermanagement">
          <i class="bi bi-grid"></i>
          <span>Order Management</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link " href="/admin/salesreport">
          <i class="bi bi-grid"></i>
          <span>Sales Report</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link " href="/admin/offerManagement">
          <i class="bi bi-grid"></i>
          <span>Products Offer</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link " href="/admin/category-offer">
          <i class="bi bi-grid"></i>
          <span>Category Offer</span>
        </a>
      </li><!-- End Dashboard Nav -->
      
      <li class="nav-item">
        <a class="nav-link " href="/admin/coupon-management">
          <i class="bi bi-grid"></i>
          <span>Coupon Management</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link " href="/admin/banner-management">
          <i class="bi bi-grid"></i>
          <span>Banner Management</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/admin/logout">
          <i class="bi bi-grid"></i>
          <span>Logout</span>
        </a>
      </li><!-- End Dashboard Nav -->

      
    </ul>

  </aside><!-- End Sidebar-->

  {{{body}}}