<div class="container">
{{!-- <form action="/send-refferal" method="post">
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Enter Mobile</label>
    <input type="Mobile" class="form-control" id="exampleInputPassword1">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form> --}}

<h5>send refferal via watsapp</h5>
<input type="url" value="http://localhost:3000/register/{{userdetails.userid}}">
<a href="https://web.whatsapp.com/"><button class="btn btn-outline-danger">share link</button></a>

</div>