<div class="container">
<h5>send refferal via watsapp</h5>
<input type="url" value="http://localhost:3000/register/{{userdetails.userid}}">
<a href="https://web.whatsapp.com/"><button class="btn btn-outline-danger">share link</button></a>
</div>