{{!-- <div class='bg-primary'>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-box">
                    <div class="form-tab">
                        <div class="tab-content" id="tab-content-5">
                             <div class="tab-pane fade show active" id="otplogin" role="tabpanel" aria-labelledby="signin-tab">
                                    <form action="/submitotp">
                                        <div class="form-group">
                                            <label for="otp">Enter OTP *</label>
                                            <input type="OTP" class="form-control" id="otp" onkeyup="validateotp()" name="otp" required>
                                            <span id="errorOTP" class="text-danger"></span>
                                        </div><!-- End .form-group -->
                                        
                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2" onclick="return submitotp()">
                                                <span>Submit</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                            <span class="text-danger" id="errorOtp"></span>
                                        </div><!-- End .form-footer -->
                                    </form>
                                </div>
                            </div>
                        </div>
                     </div>

                </div>
            </div>
        </div>

    </div> --}}
