<main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<a href="/profile/accountInfo"><h1 class="page-title">My Account<span>{{response.name}} {{response.name1}} </span></h1></a>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        
                        <li class="breadcrumb-item active" aria-current="page">My Account</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="dashboard">
	                <div class="container">
	                	<div class="row">
	                		
                            <div class="container row text-center">
                               <div class="col-md-4">
                                  <a href="/orderhistory"><button class="btn btn-lg btn-outline-primary mb-3 " style="font-size: 1.5em;  height:6em;width: 14em">Orders</button></a>
							   </div>
							   <div class="col-md-4">
                                   <a href="/profile/address"><button class="btn btn-lg btn-outline-primary mb-3" style="font-size: 1.5em;  height:6em;width: 14em">User Address</button></a>
							   </div>
							   <div class="col-md-4">
                                   <a href="/coupons"><button class="btn btn-lg btn-outline-primary mb-3" style="font-size: 1.5em;  height:6em;width: 14em">Coupons</button></a>
							   </div>
							   <div class="col-md-4">
                                  <a href="/wallet"><button class="btn btn-lg btn-outline-primary mb-3" style="font-size: 1.5em;  height:6em;width: 14em">Wallet</button></a>
							   </div>
							   <div class="col-md-4">
                                   <a href="/refferal"><button class="btn btn-lg btn-outline-primary mb-3" style="font-size: 1.5em;  height:6em;width: 14em">Refferel</button></a>
							   </div>
							   <div class="col-md-4">
                                   <a href="/logout"><button class="btn btn-lg btn-outline-primary mb-3" style="font-size: 1.5em;  height:6em;width: 14em">Logout</button></a>
							   </div>
							</div>
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->



		

		

