<div class="container">
    {{#if response.gift}}
    <h5 class="text-success m-4">wallet Amount : {{response.refferalRecieved}}</h5> 
     {{else}}
    <h5 class="text-success m-4">wallet Amount : <span>nil</span></h5> 
    {{/if}} 
</div>